<!-- As a heading -->
<nav class="navbar ">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">GLEAM</span>

      <div class='d-flex mv'> 
          <!--Trainig-->
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Training 
            </button>
            <ul class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">A</a></li>
              <li><a class="dropdown-item" href="#">B</a></li>
              <li><a class="dropdown-item" href="#">C</a></li>
            </ul>
          </div>
    
          <!--Trace-->
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle sign-up" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Trace 
            </button>
            <ul class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">A</a></li>
              <li><a class="dropdown-item" href="#">B</a></li>
              <li><a class="dropdown-item" href="#">C</a></li>
            </ul>
          </div>
          
          <!--Sign up-->
          <button type="button" class="btn mx-2 btn-outline-secondary ">Sign up</button>
    
          <!--Sign in-->
          <button type="button" class="btn btn-outline-secondary dropdown-main">Sign in</button>
           
      </div>

    </div>
  </nav>