
.btn-outline-secondary:not(.dropdown-main){
    border: none;
    
}

.sign-up::before{
    content:""; 
    border:1px solid #cac4c4;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:0; 
    height:100%;
  }



.btn-outline-primary:hover,.btn-outline-secondary:hover{
    background: none;
    color:black;
  }

  .dropdown .btn:hover {background:transparent; color:#000;}
  .dropdown .btn:active {background:transparent; color:#000;}
  .dropdown .btn:focus {background: transparent; color:#000;}
  
  .dropdown-menu .dropdown-item:active {
    background: transparent;
    color:black;
    }

  .dropdown-menu{
      background-color: transparent;
      border: 1px solid;
      min-width: 7rem;
  }